.container a {
  width: 23%;
  margin: 10px 10%;
  border-radius: 20px;
  padding: 2%;
}
.articlesContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
h2 {
  text-align: center;
}
