.container {
  margin: 10px 10%;
  background-color: rgb(162, 157, 157);
  height: 80vh;
  border-radius: 20px;
  padding: 2%;
}
.articlesContainer {
  display: flex;
  justify-content: space-between;
}
